<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmRKm__ryqjhX_W6aRdjCbFQHbu6NLMnw</string>
	<key>GCM_SENDER_ID</key>
	<string>289001168000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ruchira.sinha.Travel-Journey</string>
	<key>PROJECT_ID</key>
	<string>travel-journey-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-journey-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289001168000:ios:72d8b65100d68bd7e71a65</string>
</dict>
</plist>